:root {
  --color-beige: #f6f5f0;
  --color-base: #333;
  --color-gray: #777;
  --color-light-gray: #ccc;
  --color-green: #669900;
  --color-brown: #593b18;
  --color-dark-brown: #2c2a29;
  --color-gold: #d9aa8a;
  --color-rewards-left: #272727;
  --color-rewards-right: #d5c798;
}

body {
  position: relative;
  color: var(--color-base);
  font-family: "Nanum-Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.btn {
  width: 130px;
  padding: 10px;
  color: var(--color-base);
  border: 2px solid var(--color-base);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  color: var(--color-beige);
  background-color: var(--color-base);
}

.btn--gold {
  color: var(--color-gold);
  border-color: var(--color-gold);
}

.btn--gold:hover {
  color: var(--color-brown);
  background-color: var(--color-gold);
}

.btn--brown {
  color: var(--color-brown);
  border-color: var(--color-brown);
}

.btn--brown:hover {
  color: var(--color-beige);
  background-color: var(--color-brown);
}

.btn--white {
  color: var(--color-beige);
  border-color: var(--color-beige);
}

.btn--white:hover {
  color: var(--color-base);
  background-color: var(--color-beige);
}

.hidden {
  display: none;
}

.inner {
  position: relative;
  width: 1100px;
  height: 100%;
  margin: auto;
}

.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-right {
  transform: translateX(-150px);
}

.back-to-position.to-left {
  transform: translateX(150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.delay-1 {
  transition-delay: 0.3s;
}

.delay-2 {
  transition-delay: 0.6s;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: var(--color-beige);
  z-index: 9;
}

header .inner > img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 75px;
  height: 75px;
  margin: auto 0;
}

header .sub-contents {
  display: flex;
  position: absolute;
  top: 16px;
  right: 0;
}

header .sub-contents .sub-menus {
  display: flex;
  align-items: center;
}

header .sub-contents .sub-menus li {
  position: relative;
}

header .sub-contents .sub-menus li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 12px;
  margin: auto 0;
  background-color: var(--color-light-gray);
}

header .sub-contents .sub-menus li:first-child::before {
  display: none;
}

header .sub-contents .sub-menus li a {
  padding: 11px 16px;
  color: var(--color-gray);
  font-family: Arial, sans-serif;
  font-size: 12px;
}

header .sub-contents .sub-menus li a:hover {
  color: var(--color-base);
}

header .sub-contents .search {
  position: relative;
}

header .sub-contents .search input {
  width: 36px;
  height: 34px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  box-sizing: border-box;
  transition: width 0.4s;
}

header .sub-contents .search input:focus {
  width: 150px;
  border: 1px solid var(--color-green);
  outline: none;
}

header .sub-contents .search .material-icons {
  position: absolute;
  right: 5px;
  margin-top: 5px;
}

header .main-contents {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

header .main-contents .main-content {
  z-index: 9;
}

header .main-contents .main-content:hover {
  background-color: var(--color-dark-brown);
}

header .main-contents .main-content:hover .menu-name {
  color: var(--color-green);
}

header .main-contents .main-content:hover .menusAndTexts {
  display: block;
}

header .main-contents .main-content .menu-name {
  padding: 10px 20px 34px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  cursor: pointer;
}

header .main-contents .main-content .menusAndTexts {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: var(--color-dark-brown);
}

header .main-contents .main-content .menusAndTexts .menus {
  display: flex;
  margin: 12px;
}

header .main-contents .main-content .menusAndTexts .menus > li {
  width: 220px;
}

header .main-contents .main-content .menusAndTexts .menus > li h4 {
  color: white;
  margin: 16px 0;
  font-weight: 700;
}

header .main-contents .main-content .menusAndTexts .menus > li ul li {
  color: var(--color-gray);
  margin-bottom: 4px;
  font-size: 14px;
}

header .main-contents .main-content .menusAndTexts .texts {
  font-size: 14px;
  background-image: url(../images/main_menu_pattern.jpg);
}

header .main-contents .main-content .menusAndTexts .texts .inner {
  padding: 40px 0 30px;
}

header .main-contents .main-content .menusAndTexts .texts h4 {
  color: var(--color-gray);
}

header .main-contents .main-content .menusAndTexts .texts p {
  margin-bottom: 10px;
  color: var(--color-green);
}

header .badges {
  position: fixed;
  top: 120px;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 12px 12px 0 0;
  transition: 1s;
}

header .badges img {
  border-radius: 12px;
  cursor: pointer;
}

header .badges img:first-child {
  margin-bottom: 12px;
}

/* VISUAL */
.visual {
  height: 646px;
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}

.visual .fade-in {
  opacity: 0;
}

.visual .titleAndBtn {
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visual .titleAndBtn img {
  margin-bottom: 20px;
}

.visual .cup1-text {
  position: absolute;
  top: 20px;
  right: 200px;
}

.visual .cup1-img {
  position: absolute;
  top: 60px;
  right: -40px;
}

.visual .cup2-text {
  position: absolute;
  bottom: 220px;
  left: 440px;
}

.visual .cup2-img {
  position: absolute;
  bottom: 0;
  right: 160px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 413px;
  margin: auto;
}

/* NOTICE */
.notice {
  position: relative;
  height: 62px;
}

.notice .inner {
  display: flex;
}

.notice .bg-left {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color-base);
}

.notice .bg-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color-beige);
}

.notice .notice-line {
  display: flex;
  justify-content: space-between;
  width: 50%;
  z-index: 1;
}

.notice .notice-line .title {
  display: flex;
  align-items: center;
}

.notice .notice-line span {
  color: var(--color-beige);
  font-size: 18px;
  font-weight: 700;
}

.notice .notice-line .swiper {
  width: 80%;
  height: 100%;
}

.notice .notice-line .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
}

.notice .notice-line .swiper .swiper-wrapper .swiper-slide a {
  color: var(--color-beige);
  font-size: 18px;
}

.notice .promotion-line {
  display: flex;
  width: 50%;
}

.notice .promotion-line > .material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  font-size: 30px;
  cursor: pointer;
}

.notice .promotion-line .textAndBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.notice .promotion-line .textAndBtn span {
  margin-right: 12px;
  font-size: 18px;
  font-weight: 700;
}

.notice .promotion-line .textAndBtn .material-icons {
  margin-bottom: 4px;
  font-size: 30px;
  cursor: pointer;
}

/* PROMOTION */
.promotion {
  position: relative;
  height: 693px;
  background-color: var(--color-beige);
  transition: height 0.4s;
}

.promotion.hide {
  height: 0;
}

.promotion .promotion-container {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.promotion .promotion-container .swiper {
  position: absolute;
  top: 50px;
  left: 50%;
  width: calc(819px * 3 + 20px);
  margin-left: calc((819px * 3 + 20px) / -2);
}

.promotion .promotion-container .swiper .swiper-wrapper {
  margin-bottom: 20px;
}

.promotion .promotion-container .swiper .swiper-wrapper .swiper-slide {
  position: relative;
  opacity: 0.4;
}

.promotion
  .promotion-container
  .swiper
  .swiper-wrapper
  .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.promotion .promotion-container .swiper .swiper-wrapper .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.promotion .promotion-container .swiper-button-prev,
.promotion .promotion-container .swiper-button-next {
  position: absolute;
  top: 320px;
  width: 42px;
  height: 42px;
  color: var(--color-base);
  border: 2px solid var(--color-base);
  border-radius: 50%;
  z-index: 1;
}

.promotion .promotion-container .swiper-button-prev:hover,
.promotion .promotion-container .swiper-button-next:hover {
  color: var(--color-beige);
  background-color: var(--color-base);
}

.promotion .promotion-container .swiper-button-prev::after,
.promotion .promotion-container .swiper-button-next::after {
  display: none;
}

.promotion .promotion-container .swiper-button-prev {
  left: 50px;
}

.promotion .promotion-container .swiper-button-next {
  right: 50px;
}

.promotion .swiper-pagination {
  bottom: 20px;
  z-index: 0;
}

.promotion .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  outline: none;
}

.promotion
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}

.asdf {
  height: 100px;
  background-color: orange;
}

/* REWARDS */
.rewards {
  position: relative;
}

.rewards .bg-left {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color-rewards-left);
}

.rewards .bg-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color-rewards-right);
}

/* VIDEO */
.video {
  position: relative;
  height: 700px;
  background-color: var(--color-dark-brown);
  overflow: hidden;
}

.video .youtube {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1920px;
  margin-left: calc(1920px / -2);
  margin-top: calc(1920px * 9 / 16 / -2);
}

.video .youtube::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video .video__cover {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/video_cover_pattern.png");
}

.video .video__cover img {
  position: absolute;
}

.video .video__cover .floating1 {
  top: 40px;
  left: 20px;
}

.video .video__cover .floating2 {
  top: 360px;
  left: 0;
}

.video .video__cover .floating3 {
  bottom: -100px;
  right: 0;
}

/* SEASON */
.season {
  height: 400px;
  background-image: url("../images/season_product_bg.jpg");
}

.season .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}

.season .textAndBtn {
  position: absolute;
  top: 120px;
  left: 50%;
  margin: auto;
}

.season .textAndBtn img {
  margin-bottom: 16px;
}

/* RESERVE-COFFEE */
.reserve-coffee {
  height: 400px;
  background-image: url("../images/reserve_bg.jpg");
}

.reserve-coffee .inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reserve-coffee .reserve-coffee-logo {
  margin-right: 40px;
}

.reserve-coffee .textAndBtn {
  flex-grow: 1;
}

/* FAVORITE */
.favorite {
  height: 700px;
  background-image: url("../images/favorite_bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.favorite .text {
  position: absolute;
  top: 140px;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.favorite .text img {
  margin-bottom: 20px;
}

/* RESERVE-STORE */
.reserve-store {
  height: 700px;
  background-image: url("../images/reserve_store_bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.reserve-store .inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-store .medal {
  perspective: 300px;
}

.reserve-store .medal .medal__front,
.reserve-store .medal .medal__back {
  transition: 1s;
  backface-visibility: hidden;
}

.reserve-store .medal .medal__front {
  position: absolute;
  transform: rotateY(0);
}

.reserve-store .medal .medal__back {
  position: relative;
  transform: rotateY(180deg);
}

.reserve-store .medal:hover .medal__front {
  transform: rotateY(-180deg);
}

.reserve-store .medal:hover .medal__back {
  transform: rotateY(0);
}

.reserve-store .medal .medal__back .btn {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
}

/* FIND-STORE */
.find-store {
  height: 400px;
  background-image: url("../images/find_store_bg.jpg");
}

.find-store .inner > img {
  position: absolute;
}

.find-store .inner > img:nth-child(1) {
  top: -80px;
  left: 20px;
  border-radius: 50%;
}

.find-store .inner > img:nth-child(2) {
  bottom: 20px;
  left: 180px;
  border-radius: 50%;
}

.find-store .inner > img:nth-child(3) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.find-store .inner > img:nth-child(4) {
  bottom: 0;
  right: 0;
}

.find-store .textAndBtn {
  position: absolute;
  top: 30%;
  left: 40%;
}

.find-store .textAndBtn img {
  margin-bottom: 20px;
}

/* AWARDS */
.awards {
  height: 120px;
  border-bottom: 1px solid var(--color-gray);
  background-color: var(--color-rewards-left);
}

.awards .inner {
  display: flex;
  align-items: center;
}

.awards .swiper .material-icons {
  font-size: 24px;
}

.awards .swiper-button-prev,
.awards .swiper-button-next {
  position: absolute;
  width: 46px;
  height: 46px;
  color: var(--color-gray);
  border: 2px solid var(--color-gray);
  border-radius: 50%;
}

.awards .swiper-button-prev {
  left: -80px;
}

.awards .swiper-button-next {
  right: -80px;
}

.awards .swiper-button-prev::after,
.awards .swiper-button-next::after {
  display: none;
}

/* FOOTER */
footer {
  padding: 40px;
  font-size: 13px;
  background-color: var(--color-rewards-left);
}

footer .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .inner a {
  color: #999;
}

footer .menu-group {
  display: flex;
  margin-top: 30px;
}

footer .menu-group li {
  margin-right: 20px;
}

footer .menu-group li a {
  font-weight: 700;
  color: var(--color-light-gray);
}

footer .menu-group li:first-child a {
  color: var(--color-green);
}

footer .menu-group li:last-child {
  margin-right: 0;
}

footer .btn-group {
  display: flex;
  margin-top: 30px;
}

footer .btn-group .btn {
  margin-right: 10px;
  font-size: 12px;
}

footer .btn-group .btn:last-child {
  margin-right: 0;
}

footer .info {
  display: flex;
  margin-top: 30px;
}

footer .info li {
  margin-right: 10px;
}

footer .info li:last-child {
  margin-right: 0;
}

footer .copyright {
  margin-top: 10px;
  color: #999;
}

footer img {
  margin: 20px;
}

/* TO-TOP */
.to-top {
  position: fixed;
  top: 600px;
  right: 40px;
  width: 46px;
  height: 46px;
  color: var(--color-beige);
  border: 2px solid var(--color-beige);
  border-radius: 10px;
  background-color: var(--color-base);
  opacity: 0;
  transition: 1s;
  z-index: 1;
  cursor: pointer;
}
